# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Output files
output/
*.json
!gcp_icons.json

# Virtual environment
../../.venv/
venv/
env/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Credentials (IMPORTANT!)
*.json
!gcp_icons.json
credentials.json
service-account.json
cred.json

#Not Schema
!schema_GCP.json

# Logs
*.log